/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

.dis-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.align-items-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
  
.justify-content-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
  
.is-flex {
    display: flex !important;
}
  